@use "./abstracts/" as *;

.story {
  &__pictures {
    // background-color: $color-primary;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../../image/story-back.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }
  &__img {
    &--1 {
      width: 100%;
      grid-column: 2/6;
      grid-row: 2/6;
      box-shadow: 0 2rem 5rem rgba(#000, 0.1);
    }
    &--2 {
      width: 115%;
      grid-row: 4/6;
      grid-column: 4/7;
      position: relative;
      z-index: 5;
      box-shadow: 0 2rem 5rem rgba(#000, 0.1);
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        grid-row: 4/6;
        grid-column: 4/7;
      }
    }
  }
  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 7vw;
    display: grid;
    justify-items: start;
    align-content: start;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
      grid-row: 5/6;
    }
  }
  &__text {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 4rem;
    text-align: justify;
  }
}
